# General
.DS_Store
*.log

# Backend
backend/target/
backend/*.log
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# IDE
.vscode/
.idea/

# OS
Thumbs.db

abc.md